@{
    ViewBag.Title = "MgmtConsole";
}
<h2 class="text-center">
    Management Console</h2>
<div class="text-center">
    <a href="/Task/Index" class="btn btn-info">Click here for Task Status Manager</a>
    <a href="/User/Index" class="btn btn-info">Manage Users</a> <a href="/Admin/GetDate"
        class="btn btn-info">Retrieve Records</a> @*<a href="javascript:window.print()" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-print"></span> Print 
        </a>*@
</div>
