<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmidsIHStatEntities" connectionString="metadata=res://*/Entity.DBModel.csdl|res://*/Entity.DBModel.ssdl|res://*/Entity.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INSPIRON7250SE\SQLEXPRESS;initial catalog=EmidsIHStat;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>