@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">
    Welcome to the main landing page</h2>
<div class="text-center">
    <a href="/AccountManagement/Index" class="btn btn-info">Click here to Login</a>
    <a href="/User/Create" class="btn btn-info">Click here to Sign Up</a> <a href="/Task/Index"
        class="btn btn-info">Click here for Task Status Manager</a> <a href="/User/Index"
            class="btn btn-info">Click here for User Manager</a>
</div>
